@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container {
  width: 100%;
}

.mat-card {
  display: flex;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
  justify-content: space-between;
}

.mat-card-title {
  font-size: 30px;
  margin: left;
  font-weight: bold;
  line-height: normal;
}

.mat-raised-button {
  align-items: center;
}

.mat-elevation-z8 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.mat-table {
  font-family: 'Poppins', 'sans-serif';
}

.mat-paginator {
  font-family: 'Poppins', 'sans-serif';
}

table {
  width: 100%;
}

.mat-raised-button {
  font-family: 'Poppins', 'sans-serif';
  float: right;
  bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

.mat-raised-button.delete {
  margin-left: 5px;
}


.mat-form-field {
  font-family: 'Poppins', 'sans-serif';
  width: 100%;
}

.filters {
  display: flex;
}

.filtro {
  margin-top: 10px;
  width: 100%;
  padding: 0 5%;
}

.mat-cell {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-id {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-versionId {
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-image {
  flex: 0 0 8% !important;
  width: 8% !important;

  img {
    width: 3.75rem;
  }
}



.mat-column-fatherScreenId {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-order {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-versionClonedId {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-gerenciamento {
  flex: 0 0 15% !important;
  width: 15% !important;
}


//animation?

/*.slide-in-left {
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
            transform: translateX(0);
    opacity: 1;
  }
}
*/
