<div class="container">
  <mat-card class="mat-card">
      <mat-card-title>Cadastrar novo projeto</mat-card-title>
      <button mat-raised-button color="accent" routerLink="..">voltar</button>
  </mat-card>

  <mat-card>
    <form [formGroup]="projectForm" class="form">
      <input
      type="number"
      formControlName="id"
      hidden
      />

      <div>
      <mat-form-field class="inputs" appearance="outline">
        <mat-label>Nome do Projeto</mat-label>
        <input
        matInput
        placeholder="Ex: Minha Oi"
        formControlName="name"
        [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="projectForm.get('name')?.hasError('required')">
          Nome é um campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Active</mat-label>
        <mat-select formControlName="active" [errorStateMatcher]="matcher">
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.controls['active'].hasError('required')">Active é um campo obrigatório</mat-error>
      </mat-form-field>
      </div>

      <div class="action">
        <app-spinner-button
          type="submit"
          (action)="submit()"
          color="primary"
          borderRadius="4px"
          [fullWidth]="true"
          [loading]="loading"
          [disabled]="!projectForm.valid"
        >
          Salvar
        </app-spinner-button>
      </div>
    </form>


  </mat-card>
</div>
