::ng-deep .mat-spinner-button {
  display: inline-block;
}

button ::ng-deep .mat-button-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
}

button {
  outline: none;

  .local-spinner {
    display: none;
  }

  .button-text {
    display: inline;
  }

  &.loading {
    cursor: not-allowed;

    .local-spinner {
      display: inline;
      margin: 8px auto;
    }
    .button-text {
      display: none;
    }
  }
}

.fullWidth {
  width: 100%;
}

.mat-raised-button {
  height: 40px;
}
