<div class="ctn-login">
    <mat-card>
        <div class="box-vectors">
          <div class="logo">
            <img mat-card-image src="./assets/images/mobicare.png">
          </div>
          <div class="vector">
            <img mat-card-image src="./assets/images/images.png">
          </div>
        </div>
        <div class="box-form">
            <mat-card-title>Login</mat-card-title>
            <form class="form">
              <div class="inputs">
                <input class="input" type="email" name="email" placeholder="Email">
              </div>
              <div class="inputs">
                <input class="input" type="password" name="senha" placeholder="Senha">
              </div>
                <button mat-raised-button color="primary" type="button" (click)="login()">Login</button>
            </form>
        </div>
    </mat-card>
</div>
