<div class="ctn-login">
    <mat-card>
        <div class="box-vectors">
          <div class="logo">
            <img mat-card-image src="./assets/images/mobicare.png">
          </div>
          <div class="vector">
            <img mat-card-image src="./assets/images/images.png">
          </div>
        </div>
        <div class="box-form">
            <mat-card-title class="slide-top">Login</mat-card-title>
            <form class="form" #loginForm="ngForm">
              <div class="inputs slide-top">
                <span class="material-icons">email</span>
                <input
                  class="input"
                  type="email"
                  name="email"
                  placeholder="Email"
                  [(ngModel)]="email"
                  #campoEmail="ngModel"
                  required
                  email>
                <app-mensagem *ngIf="(campoEmail.touched || campoEmail.dirty) && !email.length">Email obrigatório</app-mensagem>
                <app-mensagem *ngIf="campoEmail.touched && campoEmail.errors?.email">Email inválido</app-mensagem>
              </div>
              <div class="inputs slide-top">
                <span class="material-icons">lock</span>
                <input class="input" type="password" name="senha" placeholder="Senha" [(ngModel)]="password" #campoSenha="ngModel" required>
                <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched">Senha obrigatória</app-mensagem>
              </div>

              <div class="btn slide-top">
                <app-spinner-button
                [type]="'submit'"
                (action)="login()"
                color="primary"
                [borderRadius]="'25px'"
                [fullWidth]="true"
                [loading]="loading"
                [disabled]="!loginForm.valid">LOGIN</app-spinner-button>
              </div>
            </form>
        </div>
    </mat-card>
</div>
