.dashboard-options {
  padding: 40px 0;
}

.dashboard-main {
  display: flex;

  .diva {
    width: 30%;

    .tree {
      width: 90%;
      margin: 0 auto;
      border: 1px solid #000;

      .father {
        width: 100%;
        height: 150px;
        border: 1px solid red;
        overflow-x: scroll;
      }

      .me {
        width: 100%;
        height: 150px;
        border: 1px solid rgb(44, 44, 44);
        overflow-x: scroll;

        display: flex;
        column-gap: 10px;

        .me-img {
          width: 60px;
          height: 120px;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .childs {
        width: 100%;
        height: 150px;
        border: 1px solid blue;
        overflow-x: scroll;
      }
    }
  }

  .divb {
    width: 70%;

    .card-bla {
      width: 100%;
      padding: 40px 0;
      background-color: #eeee;

      display: flex;

      .img {
        width: 30%;
        padding: 0px 40px;
      }

      .screen {
        width: 70%;

        .screen-description {
          width: 80%;
          padding: 20px;
          background-color: #fff;
        }
      }
    }
  }
}
