<div class="filtros">
  <!-- Filtro de Projetos -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Projetos</mat-label>
      <mat-select
        name="projects"
        id="projects"
        placeholder="Selecione um projeto"
        [(ngModel)]="projectId"
        (ngModelChange)="handleProjectChange()"
      >
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{ project.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Filtro de Versão -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Versões</mat-label>
      <mat-select
        name="versions"
        id="version"
        placeholder="Selecione uma versão"
        [disabled]="!projectId"
        [(ngModel)]="versionId"
        (ngModelChange)="handleVersionChange()"
        ng-disabled="versionsSelect"
      >
        <mat-option *ngFor="let version of versionsSelect" [value]="version.id">
          {{ version.number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<main class="dashboard-main">
  <div class="screens-container">
    <div class="tree">
      <div class="father">
        <!-- <owl-carousel-o class="full" [options]="customOptions">
          <ng-container *ngFor="let screen of paiEIrmaos">
            <ng-template class="child-img" carouselSlide>
              <img
                [src]="screen?.image"
                (click)="handleScreenChange(screen?.id)"
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o> -->
        <div *ngFor="let screen of paiEIrmaos">
          <div class="child-img">
            <img
              [src]="screen?.image"
              (click)="handleScreenChange(screen?.id)"
            />
          </div>
        </div>
      </div>
      <div class="me">
        <!-- <owl-carousel-o class="full" [options]="customOptions">
          <ng-container *ngFor="let screen of atualEIrmaos">
            <ng-template carouselSlide>
              <img
                [src]="screen?.image"
                (click)="handleScreenChange(screen?.id)"
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o> -->
        <div *ngFor="let screen of atualEIrmaos">
          <div class="child-img">
            <img
              [src]="screen?.image"
              (click)="handleScreenChange(screen?.id)"
            />
          </div>
        </div>
      </div>
      <div class="childs">
        <!-- <owl-carousel-o class="full" [options]="customOptions">
          <ng-container *ngFor="let screen of filhos">
            <ng-template [width]="0" carouselSlide>
              <img
                [src]="screen?.image"
                (click)="handleScreenChange(screen?.id)"
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o> -->
        <div *ngFor="let screen of filhos">
          <div class="child-img">
            <img
              [src]="screen?.image"
              (click)="handleScreenChange(screen?.id)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-details">
    <mat-card class="card-bla" *ngIf="screenSelecionada; else noSelected">
      <div class="img">
        <img [src]="screenSelecionada?.image" alt="screen-image" />
      </div>
      <app-screen-description
        [events]="events"
        [screenSelecionada]="screenSelecionada"
        style="width: 100%"
      >
      </app-screen-description>

      <!-- <div class="screen">
        <div class="screen-description">
          <p><strong>Titulo:</strong> {{ screenSelecionada?.name }}</p>
          <p><strong>Status:</strong> {{ screenSelecionada?.active }}</p>
        </div>
        <div class="events">
          <div class="event-item" *ngFor="let event of events">
            <p>{{ event.eventTypeId }}</p>
            <p>{{ event.parameter }}</p>
            <app-request-list [eventId]="event.id"></app-request-list>
          </div>
        </div>
      </div> -->
    </mat-card>
  </div>
</main>

<ng-template #noSelected>
  <mat-card>
    <mat-card-title>
      Selecione uma projeto e uma versão para visualizar as telas
    </mat-card-title>
  </mat-card>
</ng-template>
