<mat-card class="card-bla" >
  <!-- Image -->
  <div>
    <div class="img">
      <img [src]="screenSelecionada?.image" alt="screen-image" />
    </div>
  </div>

  <!-- description -->
  <div class="screen-description">
    <div>
      <p><strong>Titulo:</strong> {{ screenSelecionada?.name }}</p>
      <p>
        <strong>Status: </strong>
        <app-status-tag>{{ screenSelecionada.active ? 'Ativo' : 'Inativo'}}</app-status-tag>
      </p>
      <p><strong>URLOG:</strong> {{ screenSelecionada?.urlog }}</p>
    </div>

    <div class="events" *ngIf="events$ | async as events">
      <div class="event" *ngFor="let event of events">


        <div class="event-item">
          <app-request-list [eventId]="event.id"></app-request-list>
          <div class="grid-container">
            <div class="item1">
              <p><strong>{{getEventTypeName(event.eventTypeId)}}</strong></p>
              <p><strong>{{ event.parameter }}</strong></p>
            </div>
            <div class="item2">Menu</div>
            <div class="item3">Main</div>
            <div class="item4">Right</div>
            <div class="item5">Footer</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</mat-card>
