.card-bla {
  width: 100%;
  padding: 40px 0;

  display: flex;
}

.screen-image {
  width: 200px;
  height: 300px;
  padding: 0px 40px;
}

.screen-description {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.event {
  margin-bottom: 5px;
  background: rgba( 252, 131, 87, 0.2 );
  border-radius: 5px;


  .event-header {
    padding: 5px;
    background-color:  rgba( 252, 131, 87, 0.5);
  }
}
