@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.mat-list-item {

  font-family: 'Poppins';
  transition: all .5s ease;

  .icon {
    margin-right: 5px;
  }

  &.active {
    background-color: rgb(248, 165, 135);
    color:#ffffff;
  }
}
.mat-nav-list {
  padding-top: 0;
   &.opened {
    border-bottom: 4px solid rgba(0, 0, 0, 0.06);
  }
}

