@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container {
  height: 100%;
}

.mat-card {
  display: flex;
  font-family: "Poppins", "sans-serif";
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.mat-card-title {
  font-size: 30px;
  margin: left;
  font-weight: bold;
  line-height: normal;
}

.mat-raised-button {
  align-items: center;
}

.mat-elevation-z8 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.mat-table {
  font-family: "Poppins", "sans-serif";
}

.mat-paginator {
  font-family: "Poppins", "sans-serif";
}

table {
  width: 100%;
}

.mat-raised-button {
  font-family: "Poppins", "sans-serif";
  float: right;
  bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

.mat-raised-button.delete {
  margin-left: 5px;
}

.mat-form-field {
  font-family: "Poppins", "sans-serif";
  width: 100%;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filtro {
  min-width: 25%;
  margin-top: 10px;
  padding: 0 10px;
  flex: 1;
}
