<div class="container slide-in-left">
  <mat-card class="mat-card">
      <mat-card-title>Versão</mat-card-title>
      <button mat-raised-button color="primary" [routerLink]="['./add']">Cadastrar Novo</button>
  </mat-card>

  <div class="example-form" class="filters">
    <div class="filtro" [style.display]="selection.isEmpty() ? '' : 'none'">
      <mat-form-field floatPlaceholder="never" appearance="outline">
        <mat-label>Projetos</mat-label>
        <mat-select #filter name="projeto"
                    placeholder="Escolha um projeto"
                    (selectionChange)="filterVersionProjectId($event.value)"
                    >
          <mat-option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="projectId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id do projeto </th>
        <td mat-cell *matCellDef="let version"> {{version.projectId}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let version"> {{version.id}} </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let version"><app-status-tag>{{version.active ? 'Ativo' : 'Inativo'}}</app-status-tag></td>
      </ng-container>

      <!-- Version Number column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> number </th>
        <td mat-cell *matCellDef="let version"> {{version.number}} </td>
      </ng-container>

      <!-- Date column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
        <td mat-cell *matCellDef="let version"> {{version.date}} </td>
      </ng-container>

      <!-- Gmud column -->
      <ng-container matColumnDef="gmud">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Gmud </th>
        <td mat-cell *matCellDef="let version"> {{version.gmud}} </td>
      </ng-container>

      <!-- Order column -->
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ordem </th>
        <td mat-cell *matCellDef="let version"> {{version.order}} </td>
      </ng-container>

      <ng-container matColumnDef="screens">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telas </th>
        <td mat-cell *matCellDef="let version"> {{version.screens}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="gerenciamento">
        <th mat-header-cell *matHeaderCellDef style="text-align: end;"> Gerenciamento </th>
        <td mat-cell *matCellDef="let project" >
          <button mat-raised-button color="warn" (click)="delete(project.id)" class='delete'><mat-icon>close</mat-icon></button>
          <button mat-raised-button color="accent" (click)="edit(project)" class='edit'><mat-icon>mode_edit</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *ngIf="!loading">
        <td *matNoDataRow class="mat-cell" colspan="12">Não existem versões cadastradas no projeto: {{getProjectName(filter.value)}}</td>
      </tr>
    </table>

    <app-table-spinner [loading]="loading" spinnerColor="accent"></app-table-spinner>

    <mat-paginator [pageSizeOptions]="[5]"
                  showFirstLastButtons
                  aria-label="Select page of projects">
    </mat-paginator>
  </div>
</div>

