<div class="requests" *ngIf="requests$ | async as requests">
  <div class="request">
    <div class="request-header" *ngIf="!!requests.length">
      <div class="request-title header expansion-row">
        Requisição
      </div>
      <div class="property-title header expansion-row">
        Propriedades
      </div>
    </div>
    <div class="details" *ngFor="let request of requests">
      <div class="request-content">
        <div class="request-details expansion-row">
          <ul>
            <li><strong>Descrição:</strong> {{ request.description }}</li>
            <li><strong>Camada:</strong> {{ request.layer }}</li>
            <li><strong>URI Homolog:</strong> {{ request.uri_homolog }}</li>
            <li><strong>URI Produção:</strong> {{ request.uri_prod }}</li>
          </ul>
        </div>
        <div class="property-details expansion-row">
          <app-property-request-list [requestId]="request.id"></app-property-request-list>
        </div>
      </div>
    </div>
  </div>
</div>
