.requests {
  display: flex;
  flex-direction: column;
}

.request {
  display: flex;
  flex-direction: column;

  .details {
    &:nth-child(odd) {
      background-color: rgba( 252, 131, 87, 0.1 );
    }
  }

  .request-header {
    display: flex;
    justify-content: space-between;

    .request-title {
      width: 70%;
      border-right: 1px solid rgba( 252, 131, 87, 0.5 );
    }

    .property-title {
      width: 30%;
    }
  }

  .request-content {
    display: flex;
    justify-content: space-between;

    .request-details {
      width: 70%;
      border-right: 1px solid rgba( 252, 131, 87, 0.5 );
      border-bottom: 1px solid rgba( 252, 131, 87, 0.5 );

      ul {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        list-style: none;
        padding: 0;
      }
    }

    .property-details {
      width: 30%;
      border-bottom: 1px solid rgba( 252, 131, 87, 0.5 );
    }
  }
}

.header {
  background-color: rgba( 252, 131, 87, 0.5 );
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid rgba( 252, 131, 87, 0.5 );
}

.expansion-row {
  padding: 0 5px;
}
