@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  padding: 5px;
  display: flex;
  align-items: center;
  @include mat-elevation(2);
  justify-content: space-between;
  font-family: "Poppins", "sans-serif";

  background: rgb(252, 131, 87);

  height: 9vh;
}

.logo {
  width: 250px;
  display: flex;
}

.logo a {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  max-width: 100%;
  background-size:cover;

}

.user-button .material-icons {
  color: #fbfbfb;
  cursor: pointer;
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', 'sans-serif';
  padding: 5px;
}

.font {
  font-family: 'Poppins', 'sans-serif';
}
