<header>
  <div class="logo">
        <button
        mat-icon-button
        class="btn"

        (click)="emit()">
          <mat-icon>{{ isMenuOpen ? 'close' : 'menu'}}</mat-icon>
        </button>
      <a routerLink ="dashboard"><img src="./assets/images/mobicare-white.png" class="" alt="Logo Mobicare"></a>
  </div>
  <div class="user">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="user-button">
      <mat-icon >account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu">
      <div class="menu-item">
        <span>{{userData.name || 'User'}}</span>
      </div>
      <div class="menu-item">
        <span>{{userData.loginDate | date: "dd/MM/yyyy HH:mm:ss"}}</span>
      </div>
      <button mat-menu-item (click)="logout()">
        <mat-icon color='accent'>exit_to_app</mat-icon>
        <span class="font">Logout</span>
      </button>

    </mat-menu>

  </div>
</header>


