<header>
  <div class="logo">
      <input type="checkbox" id="check">
      <label for="check">
        <span class="material-icons" id="btn">menu</span>
        <span class="material-icons" id="cancel">close</span>
      </label>
      <a routerLink ="dashboard"><img src="./assets/images/mobicare-white.png" class="" alt="Logo Mobicare"></a>
  </div>
  <div class="user">
      <span class="material-icons">person</span>
      <button class="material-icons btn" (click)="logout()">logout</button>
  </div>
</header>
