@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0
}

.menu {
  width: 20%;
  height: 50%;
  font-family: "Poppins", "sans-serif";
  background-color: rgb(133, 173, 247);
  color: #fbfbfb;
  position: fixed;
  border-radius: 10px;
  transition: all .5s ease;
}

.menu-list {
  padding-top: 20px;
  list-style: none;
  letter-spacing: 3px;
}

.nav-link{
  color: #fbfbfb;
  display: list-item;
  padding: 5px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #fbfbfb;
  color: cornflowerblue;
  .material-icons{
     color: cornflowerblue;
  }
}

.align {
  padding-left: 10px;
}

.material-icons {
  color: #fbfbfb;
}

a {
  display: block;
  line-height: 30px;
  transition: all .5s ease;
}





