@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.menu {
  width: 65%;
  height: 100%;
  font-family: "Poppins", "sans-serif";
  background-color: cornflowerblue;
  color: #fbfbfb;
  position: absolute;
}

.item-menu {
  color: #fbfbfb;
}
