<div class="container">
  <mat-card class="mat-card">
      <mat-card-title>Cadastrar nova Versão</mat-card-title>
      <button mat-raised-button color="accent" routerLink="..">voltar</button>
  </mat-card>

  <mat-card class="mat-card2 ui-g">
    <form [formGroup]="versionForm">
      <input
      type="number"
      formControlName="id"
      hidden
      />

      <div>
          <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
            <mat-label>Projeto</mat-label>
            <mat-select #filterProject
                    name="projeto"
                    placeholder="Escolha um projeto"
                    formControlName="projectId"
                    >
              <mat-option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="versionForm.get('projectId')?.hasError('required')">
              Projeto é um campo obrigatório
            </mat-error>
          </mat-form-field>


        <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
          <mat-label>Número da versão</mat-label>
          <input
          matInput
          placeholder="Ex: 3.0"
          formControlName="number"
          [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="versionForm.get('number')?.hasError('required')">
            Número da versão é um campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
          <mat-label>GMUD</mat-label>
          <input
          matInput
          placeholder="Ex: "
          formControlName="gmud"
          [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="versionForm.get('gmud')?.hasError('required')">
            Gmud é um campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
          <mat-label>Data</mat-label>
          <input
          matInput
          [matDatepicker]="picker"
          placeholder="Ex: 09/10/2021"
          formControlName="date"
          [errorStateMatcher]="matcher"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="versionForm.get('date')?.hasError('required')">
            Data é um campo obrigatório
          </mat-error>
        </mat-form-field>


        <mat-form-field class="inputs" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input
          matInput
          placeholder="Ex: Um projeto"
          formControlName="description"
          [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="versionForm.get('description')?.hasError('required')">
            Descrição é um campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
          <mat-label>Ordem</mat-label>
          <input
          matInput
          placeholder="Ex: 3"
          formControlName="order"
          [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="versionForm.get('order')?.hasError('required')">
            Ordem é um campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
          <mat-label>Clonar de uma versão</mat-label>
          <mat-select
          placeholder="Escolha um projeto"
          formControlName="versionCloneId"
          placeholder="3.0"
          [errorStateMatcher]="matcher"
          >
          <mat-option [value]="null">{{"Não Clonar"}}</mat-option>
          <mat-option *ngFor="let version of versions" [value]="version.id">{{"numero: "}} {{version.number}} {{" gmud: "}} {{version.gmud}}
          </mat-option>
        </mat-select>
        </mat-form-field>

        <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="active" [errorStateMatcher]="matcher">
            <mat-option [value]="true">Ativo</mat-option>
            <mat-option [value]="false">Inativo</mat-option>
          </mat-select>
          <mat-error *ngIf="versionForm.controls['active'].hasError('required')">Active é um campo obrigatório</mat-error>
        </mat-form-field>


      </div>

      <div class="action">
          <app-spinner-button
            type="submit"
            (action)="submit()"
            color="primary"
            borderRadius="4px"
            [fullWidth]="true"
            [loading]="loading"
            [disabled]="!versionForm.valid"
          >
            Salvar
          </app-spinner-button>
        </div>
    </form>


  </mat-card>
</div>
